/* default */
html,
ul {
    margin: 0;
    padding: 0;

}

body {

    font-size: 20px;
    margin-top: 5em;
}

ul {
    list-style: none;
}

/* style */
.container {
    position: relative;
    width: 100%;
    overflow: hidden;


}

.slide-container {
    position: absolute;
    width: 100%;

}

.slide-container.animated {
    transition: left .3s ease-in;
}

.slide {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    overflow: hidden;
}

.slide li {
    width: 100%;
}

.slide img {
    width: 100%;
}

#prev,
#next {
    position: absolute;
    top: 50%;
    left: 50%;
    color: rgba(221, 221, 221, 0.849);
    width: 20px;
    height: 20px;
    z-index: 200;
    font-size: 30px;
}

#prev {
    margin-left: -480px;
}


#next {
    margin-left: 380px;
}

#prev:hover,
#next:hover {
    color: rgba(119, 115, 115, 0.7);
}

#prev.disabled,
#next.disabled {
    display: none;
}